

.footer{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
   max-width: 1440px;
   height: 322px;
   background-color:#192632;
   margin: 0 auto;
}



.footer-content{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;




    &__social{
        display: flex;
        justify-content: center;
        margin-top: 38px ;
        



    }

    &__copy{
        display: flex;
        justify-content: center;
        color: white;
    }
}


.fab{
 color: white;
 font-size: 3.4rem;
 text-align: center;

 @include md-sm{
     font-size: 3rem;
 }

 @include sm-xs {
    font-size: 2.5rem;
}

@include xs {
    font-size: 2.5rem;
}


 &:nth-child(2n+1){
     margin: 0 21px;
 }
}


.social__desc{
    text-align: center;
    color: white;


    @include sm-xs{
        font-size: .812rem;
    }


    @include xs{
        font-size: .752rem;
    }
}




.copy-item{

    margin-top: 8px;

}


.footer-info{
    height: 80px;
    background-color: $color-header;
    border-top: 1px solid  #3c4a58;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    padding: 0px 5px;

    @include md-sm{
        margin-top: 78px;
    }

    @include sm-xs{
        margin-top: 95px;
    }


    @include xs{
        margin-top: 97px;
    }



    &__link{
        color: white;
        font-size: 1.125rem;
        align-self: center;


        @include md-sm{
            font-size: .812rem;
        }


        @include xs{
            font-size: .812rem;
        }


        
        @include sm-xs{
            font-size: .812rem;
        }
    }

    &__data{
        color: white;
        text-align: left;
        display: flex;

        &:nth-of-type(2){
            margin-left: -198px;
        }

        @include xl-lg{
            &:nth-of-type(2n){
                margin-left: 38px;
            }
        }
       


        @include lg-md{
            &:nth-of-type(2n){
                margin-left: 38px;
            }
        }


        @include md-sm{
            &:nth-of-type(2n){
                margin-left: 8px;
            }
        }

        @include sm-xs{
            &:nth-of-type(2n){
                margin-left: 25px;
                
            }  
        }


        @include    xs{
            &:nth-of-type(2n){
                margin-left: 25px;
            }  
        }


   

    &__language{
        width: 195px;
        height: 40px;
    }

}

.data__desc{
    margin: 0;
    font-size: .812rem;


    @include md-sm{
        font-size: 0.712rem;
    }

    @include sm-xs{
        font-size: 0.612rem;
    }

    @include  xs{
        font-size: 0.612rem;
    }
   
   
}

.fa-phone-square-alt,  
.fa-envelope-open-text{
    font-size: 2.5rem;
    margin-right: $gap;


    @include md-sm{
        font-size: 2rem;
    }


    @include sm-xs{
        font-size: 1.5rem;
    }


    @include xs{
        font-size: 1.5rem;
    }
}









select[name="language"]{
   border-radius: 6px;
   background-color: rgba($color: white, $alpha: 0.05);
   font-size: 0.812rem;
   padding-left: 15px;
   color: white;
   border: none;
   outline: none;
   width: 195px;
   height: 40px;

   @include md-sm{
       width: 87px;
       height: 38px;
   }

   
   @include sm-xs{
    width: 87px;
    height: 38px;
}

@include  xs{
    width: 87px;
    height: 38px;
}

}

}
