$color-primary: #2d3651;
$color-accent: #d66926;
$color-green: #78BC61;
$color-header: #121920;
$color-gray-light: #e5e5e5;
$color-gray-dark: #41474d;;
$color-light: #ffffff;
$color-light-dark: #f2f2f2

